@import "../../../styles/fonts.scss";
@import "../../../styles/mixins.scss";

.home {
  width: 100%;
  min-height: 100%;
  background: #f1f1f1;
}

.home_content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include desktop {
    align-items: center; 
  }
}

.home_btn-favorites {
  margin: 20px;
  font-family: $spartan;
  font-weight: bold;

  @include desktop {
    width: 30%;
  }
}
